@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");
#layout-header nav {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  background: #6b5b95;
  color: white;
  box-shadow: 1px 1px 1px 1px lightgrey;
  height: 60px;
  align-items: center; }
  #layout-header nav .mini-logo p {
    margin: 5px;
    font-size: 1.4rem;
    font-weight: bold; }
  #layout-header nav .auth-links ul {
    margin: 5% 5px;
    display: flex;
    list-style: none; }
    #layout-header nav .auth-links ul li {
      margin-right: 10px; }
  #layout-header nav a {
    color: white;
    text-decoration: none; }

.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: #6b5b95;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999; }

.topbarLeft {
  flex: 3;
  margin-left: 20px; }

.logo {
  height: 50px;
  cursor: pointer;
  font-family: "Shadows Into Light", cursive; }

.topbarCenter {
  flex: 5; }

.searchbar {
  width: 100%;
  height: 50px;
  margin-left: 15px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center; }

.searchIcon {
  font-size: 20px !important;
  margin-left: 10px; }

.searchInput {
  border: none;
  width: 70%;
  margin-left: 15px; }

.searchInput:focus {
  outline: none; }

.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white; }

.topbarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer; }

.topbarIcons {
  display: flex;
  align-items: center; }

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative; }

.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px; }

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer; }
